# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.env
.devcontainer/
postgres-data/
apidev/guadarndokeys.ipynb
apidev/modelos.py
apidev/untitled.txt
apidev/Untitled.ipynb
apidev/keys.json
bioacustica-web
apidev/apiCRUD/sample_audios
source/.txt
source/164114_20191001_174056.wav
source/converted.wav
source/convertido.wav
source/ensayo.mp3
source/ensayo.wav
source/some.txt
source/1040694.jpg
source/Untitled.ipynb
experimento.py
apidev/apiCRUD/archivo_p2.parquet
apidev/apiCRUD/Untitled.ipynb
