.idea
.env
.devcontainer/
postgres-data/
apidev/guadarndokeys.ipynb
apidev/modelos.py
apidev/untitled.txt
apidev/Untitled.ipynb
apidev/keys.json
apidev/apiCRUD/sample_audios
source/.txt
source/164114_20191001_174056.wav
source/converted.wav
source/convertido.wav
source/ensayo.mp3
source/ensayo.wav
source/some.txt
source/1040694.jpg
source/Untitled.ipynb
experimento.py
apidev/apiCRUD/archivo_p2.parquet
apidev/apiCRUD/Untitled.ipynb
sample_audios.zip
!__pycache__
.ipynb_checkpoints
__pycache__