setuptools>=46.4.0
jupyterlab
pylint
ipykernel
xeus-python
notebook
minio
psycopg2-binary
Django~=3.2.6
django-environ==0.4.5
djangorestframework~=3.12.4
django-rest-swagger 
sphinx
drf-yasg==1.20.0
gunicorn
drf-jwt
drf-api-logger
djangorestframework-simplejwt
django-rest-passwordreset
rest_condition
django-dry-rest-permissions
django-simple-history~=3.0.0
drf-api-tracking
coreapi~=2.3.3
python-decouple