setuptools>=46.4.0
jupyterlab
pylint
ipykernel
xeus-python
notebook
minio
psycopg2-binary
Django
django-environ==0.4.5
djangorestframework
django-rest-swagger 
sphinx
drf-yasg==1.20.0
gunicorn
drf-jwt
drf-api-logger
djangorestframework-simplejwt
psycopg2